@using AichmeeLab.Pages.Includes.Article_Inspector
@using AichmeeLab.Services.ImageService
@using BootstrapBlazor.Components
@inject IJSRuntime jSRuntime;
@inject AichmeeLab.Services.WriterService.IWriterService WriterService;
@inject AichmeeLab.Services.ImageService.IImageService ImageService;

<div class="editor-layout @(_loading ? "is-loading" : "")">
    <div class="loading-window">
        <div class="loader-layout">
            <div class="spinner"></div>
            <p>Working with the Db, please don't exit.</p>
        </div>
    </div>


    
    @if (_isPreviewMode)
    {
        <button type="button" class="btn btn-outline-secondary" @onclick="HandlePreview">
            <i class="bi bi-arrow-left me-1"></i>
        </button>
        <ViewArticle SelectedArticle="SelectedArticle" HeaderImage="_selectedImage" />
    }
    else
    {
        <div class="writer-layout">
            <div class="inspector-window @(_isHeaderOpen ? "is-open" : "is-closed")">
                <div class="inspector-toggle" @onclick="() => _isHeaderOpen = !_isHeaderOpen">
                    <span><i class="bi bi-image me-2"></i> Meta Data</span>
                    <i class="bi @(_isHeaderOpen ? "bi-chevron-up" : "bi-chevron-down")"></i>
                </div>
                <ArticleInspector @ref="_articleInspector" SelectedArticle="SelectedArticle" SelectedImage="_selectedImage"
                                  OnImageChanged="@(img => _selectedImage = img)" />
            </div>
            <div class="writer-window " @key="@(SelectedArticle.Id ?? "new article")">
                <ArticleWriter @ref="_articleWriter" SelectedArticle="SelectedArticle" />
            </div>

        </div>


        <div class="action-container">
            <EditForm Model="SelectedArticle" OnValidSubmit="SaveEntryAsync" class="form-wrapper">
                <DataAnnotationsValidator />

                <ValidationMessage For="@(() => SelectedArticle.Title)" />
                <ValidationMessage For="@(() => SelectedArticle.Description)" />
                <ValidationMessage For="@(() => SelectedArticle.Author)" />
                <button type="button" class="btn btn-primary" @onclick="HandlePreview">
                    <i class="bi bi-eye"></i>Preview
                </button>
                <button type="button" class="btn btn-primary" @onclick="ResetEditorAsync">
                    <i class="bi-arrow-clockwise"></i> Create New
                </button>

                <div class="form-check form-switch visibility-control">
                    <input type="checkbox" class="btn-check" id="vSwitch" @bind="SelectedArticle.IsVisible"
                           autocomplete="off">
                        <label
                            class="btn @(SelectedArticle.IsVisible ? "btn-success" : "btn-outline-secondary") w-100 py-2 fw-bold"
                            for="vSwitch">
                            <i class="bi @(SelectedArticle.IsVisible ? "bi-eye-fill" : "bi-eye-slash") me-1"></i>
                            @(SelectedArticle.IsVisible ? "VISIBLE" : "HIDDEN")
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-2 fw-bold mb-2">
                        <i class="bi bi-cloud-arrow-up-fill me-1"></i> Save Article
                    </button>

                    @if (!string.IsNullOrEmpty(SelectedArticle.Id))
                    {
                        <button type="button" class="btn btn-outline-danger btn-sm w-100 border-0 mt-2"
                                @onclick="DeleteFromDbAsync">
                            Delete from Database
                        </button>
                    }
                </EditForm>
            </div>

        }
        
    </div>
@code {
    ArticleWriter? _articleWriter;
    ArticleInspector? _articleInspector;

    bool _loading { get; set; } = false;
    
    [Parameter] public Article SelectedArticle { get; set; } = new Article();
    Image _selectedImage { get; set; } = new Image();
    [Parameter] public EventCallback OnReady { get; set; }
    [Parameter] public EventCallback<Article?> OnChange { get; set; }
    bool _isPreviewMode { get; set; } = false;
    bool _isHeaderOpen { get; set; } = false;


    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(SelectedArticle.HeaderImageId))
        {

            var result = await ImageService.GetImageAsync(SelectedArticle.HeaderImageId);

            if (result.Success && result.Data != null)
                _selectedImage = result.Data;

        }
        
    }

    public async Task SaveEntryAsync()
    {
        if (_articleWriter == null || _articleInspector == null)
            return;

        //ALWAYS EXPORT THE CONTENT LIST FIRST OR ELSE THE CONTENT WILL BE ERASED AFTER STATEHASCHANGED()
        SelectedArticle.ContentBlocks = _articleWriter.ExportList();

        _loading = true;
        StateHasChanged();
        
        if (string.IsNullOrEmpty(_selectedImage.Id))
        {
            var imageResponse = await _articleInspector.ImageDbUploadAsync();
            if (!imageResponse.Success || string.IsNullOrEmpty(imageResponse?.Data?.Id))
            {
                await jSRuntime.InvokeVoidAsync("alert", imageResponse.Message ?? "Failed uploading image.");
                _loading = false;
                StateHasChanged();
                return;

            }
            _selectedImage = imageResponse.Data;
            SelectedArticle.HeaderImageId = imageResponse.Data.Id;
            
        }
        else
        {
            await ImageService.UpdateImageAsync(_selectedImage);
        }

        
  

        var response = await WriterService.UpdateArticleAsync(SelectedArticle);
        if (response.Success && response.Data != null)
            SelectedArticle = response.Data;


        await jSRuntime.InvokeVoidAsync("alert", response.Message);
        _loading = false;
        StateHasChanged();


        await OnChange.InvokeAsync(SelectedArticle);
    }

    async Task ResetEditorAsync()
    {
        SelectedArticle = new Article();
        _selectedImage = new Image();

        await OnChange.InvokeAsync(SelectedArticle);
        StateHasChanged();
    }

    void HandlePreview()
    {
        if (_articleWriter == null) return;
        _isPreviewMode = !_isPreviewMode;
        if (_isPreviewMode)
        
            SelectedArticle.ContentBlocks = _articleWriter.ExportList();
        
        StateHasChanged();
    }

    async Task DeleteFromDbAsync()
    {
        if (string.IsNullOrEmpty(SelectedArticle.Id)) return;

        var response = await WriterService.DeleteArticleAsync(SelectedArticle.Id);
        await jSRuntime.InvokeVoidAsync("alert", response.Message);

        await ResetEditorAsync();

    }
}